[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bandwidth-sdk = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
typing = "*"

[dev-packages]

[requires]
python_version = "3.11"
